@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family:  */

*{
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(rgba(5,7,12, 0.50), rgba(5,7,12,0.50)),
    url(imagenes/bg.jpg) top center no-repeat fixed;
    background-size: cover;
    color: white;
    z-index: 1000;
    overflow-x: hidden;
}

.header__nav__button {
    color: white;
    margin-top: 1rem;
}

.nav__div__ul {
    padding: 2rem;
}

.nav__li {
    border: solid 2px;
    border-radius: 20px;
    margin: 1rem;
}

.nav__li__1:hover {
    background-color: cadetblue;
}

.nav__li__2:hover {
    background-color: darksalmon;
}

.nav__li__3:hover {
    background-color: darkseagreen;
}

.nav__li__4:hover {
    background-color: teal;
}

.nav__li__a {
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 16px;
}

.nav__li__a:hover {
    color: white;
}

.titles {
    text-align: center;
    margin: 2rem;
}
.whiteTable {
    color: white;
}

.inputTable {
    width: 50px;
}

.macrosTable {
    width: 90%;
    margin: auto;
    padding: 2rem;   
}

.macrosTitle {
    text-align: center;
}

.macrosBox {
    width: 33%;
    height: 3rem;
    border-radius: 10px;
    margin: 1rem;
    text-align: center;
}

.containerDivsImc {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.divGender, .divAge, .divHeight, .divWeight {
    border: solid 3px white;
    padding: 2rem;
    border-radius: 20px;
    width: 40%;
    margin: 1rem;
}

.imgsGender, .imgAge, .imgHeight, .imgWeight {
    width: 6rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}